html,body{
	margin: 0;
	padding: 0;
}
.light{
	width:100px;
	height: 290px;
	background: black;
	margin: 0 auto;
}
.redL{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: red;
	margin: 0 auto;
	
}
.yellowL{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: yellow;
	margin: 0 auto;
	margin-top: 5px;
}
.greenL{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: green;
	margin: 0 auto;
	margin-top: 5px;
}